/node_modules

https://dribbble.com/shots/18425258-Srawana-Weather-Dashboard-Design
https://www.figma.com/design/QFoi4HyBY4X7fwr3UpJz6J/Weather--Icons-Kit-(Community)?node-id=0-1&p=f&t=AbgN2VjdRh8XLSXn-0
https://www.figma.com/design/vXoLpjZ37yTHDNiHGK874j/coolicons-%7C-Free-Iconset-(Community)?node-id=17102-2265&p=f&t=0obBOIJyIa7XxTE2-0